[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "==4.2.0"
python-dotenv = "*"
pika = "*"
sqlalchemy = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
pytest = "*"

[requires]
python_version = "3.6"
